.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
input.radio-project-edit {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

td.width-75 {
    width: 75%;
}

table th td tr{
    border-color: #ffffff;
}

table, tr, td ,th{
    border:none !important;
    /*border-top: none ;*/
}

li.block-img {
    list-style-type: none;
}

li>img {
    /*border: 1px solid #D6D6D6;*/
    width: 30%;
    height: 200px;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
}
div.block-img {

}